@page "/emphome"
@using BlazorEmpwage.Data
@inject HttpClient httpClient
@using BlazorEmpwage.Services 
@inject EmployeeServicecs employeeServices
@*@inject IHttpClientFactory ClientFactory*@
<h3>EmpHome</h3>
<h1>Employee Data</h1>
<p>This component demonstrates fetching Employee data from the server.</p>
<p>
    <a href="/empwage">Create New</a>
</p>


<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@functions {
    Employee Emp = new Employee();
    List<Employee> Employee = new List<Employee>();
    public async Task OnInitAsync()
    {
        await httpClient.GetAsync("/api/Employee/Index");
        //httpClient.GetAsync(HttpMethod.Get, "/api/Employee/Index")
           // var request = new HttpRequestMessage(HttpMethod.Get,
           // "/api/Employee/Index");



    }
    //public async Task<string> GetResponseString()
    //{
    //    var request = "/api/Employee/Index";
    //    var response = await httpClient.GetAsync(request);
    //    var content = await response.Content.ReadAsStringAsync();
    //    return content;
    //}
}