@page "/emphome"
@using BlazorEmpwage.Data

<h3>EmpHome</h3>
<h1>Employee Data</h1>
<p>This component demonstrates fetching Employee data from the server.</p>
<p>
    <a href="/empwage">Create New</a>
</p>


    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            
               
            
        </tbody>
    </table>


@functions {
    Employee[] empList;
    protected  async Task OnInitAsync()
    {
       // empList = await Http.GetAsync(HttpMethod.Get, "/api/Employee/Index")
        
    }
}  